.contactContainer{
 text-align:center;
 font-family:Georgia, 'Times New Roman', Times, serif;
 font-size:30px;
 background-color: rgb(224, 215, 215);
 padding-top: 50px;
 padding-bottom: 50px;
}




  
